header{
    background-color: rgb(31, 138, 115);
    height:100px;  
    position: relative;
}

main{
background-color: rgb(226, 214, 214);
height: 100vh;

}
aside{

    width:500px;
   
}

.fa-solid{
    font-size:5px;
    color:rgb(245, 245, 245);
    margin-bottom:-35px;
}
.img{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-top:5px;
}
.set{
    display: flex;
    justify-content:flex-end;
    color: rgb(173, 169, 169);
}
.fa-solid {
    color: white;
   margin-right:15px;
   font-size: 25px;
   margin-top: -38px;
}
h4{
    font-size: 30px;
    font-family:'Varela Round', sans-serif;
    padding-left:15%;
    margin-top:-7%;
    
}
h6{
    font-family:'Varela Round', sans-serif;
    font-size:15px;
    margin-left: 50px;
    margin-top: -25px;
}
a{
color: white;
}

.profilo{
    height:55px;
    background-color:#dee2e6;
    
}
.chat{
    height: 50px;
    background-color:#dee2e6;
    display: flex;
    justify-content:flex-end;
    padding-top:50px;
   

}
.message{
    width: 100%;
    background-image: url(./img/mine.jpg);
}
.notifiche{
    height: 60px;
    background-color: rgb(0, 132, 255);
    border-radius:10px;
    padding-top:20px;
    font-size:20px;
    margin-bottom:15px;
}
button{
    height:100%;
    border-radius:50%;
    padding-top:6px;
    border:white ;
    background-color: rgb(78, 77, 77);
}
.fa-solid{
    padding-left:8px; 
}
.list-group{
    background-color:rgb(78, 77, 77);
    height:8px;
    display: flex;
    align-content: stretch;
}

.contact{
    background-color: rgb(218, 209, 209);
}


#container{
border: 1px solid rgb(173, 169, 169);
height: 800px;
display:flex;
margin-left:180px;
margin-right:200px;
overflow-y: auto;
width:calc(100%) - 400 px;

}
.v{
    background-color:rgb(47, 194, 162);
    margin-right: 8px; 
   
    
}
.form-control{
    width: 90%;
}
.fa-solid{
  color: rgb(182, 182, 184); 
  font-size: 25px;
  margin-right:10px;
    
   
}
.invio{
    display: flex;
    border: 1px solid rgb(173, 169, 169); 
    height:50px;
    margin-top:69%;
    background-color:#dee2e6;
    align-items:center  
}
